{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": { "jsx": true } 
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
