ion-spinner {
  display: block;
  margin: auto;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999; /* Ensure context menu always appears on top */
}

.react-contextmenu-item ion-item:hover{
  color: #387ef5;
}

.pointer {
  cursor: pointer;
}

.square {
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.square .rotation-6 {
  transform: rotate(90deg);
}

.square .rotation-3 {
  transform: rotate(180deg);
}

.square .rotation-8 {
  transform: rotate(270deg);
}

.picture-page {
  --background: #000000;
}

.picture-page img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#file-upload {
  display: none;
}

.custom-file-upload {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.header-ios .custom-file-upload {
  padding-left: 2px;
  padding-right: 2px;
}

.custom-file-upload ion-icon {
  padding-top: 3px;
  --ion-icon-size-large: 22px;
}

.header-ios .custom-file-upload ion-icon {
  padding-top: 3px;
  --ion-icon-size-large: 29px;
}

.signin {
  --background: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}

.signin h1 {
  color: var(--light, #ffffff);
}
