ion-spinner {
  display: block;
  margin: auto;
}

.picture-background {
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999; /* Ensure context menu always appears on top */
}
