ion-spinner {
  display: block;
  margin: auto;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999; /* Ensure context menu always appears on top */
}

.react-contextmenu-item ion-item:hover{
  color: #387ef5;
}

.pointer {
  cursor: pointer;
}

.square {
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.picture-page img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
